.table-view .column-header {
    -fx-background-color: #e6f7ff;
    -fx-text-fill: white;
    -fx-font-family: "System Italic";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view .row-cell {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
    -fx-font-family: "System Italic";
    -fx-font-size: 15px;
}